$primary-normal: #24232C;
$primary-dark: #18171F;
$primary-light: #817D92;
$primary-contrast: #E6E5EA;

$secondary-normal: #4c95fc;

$strength-weakest: #F64A4A;
$strength-weak: #F8CD65;
$strength-medium: #A4FFAF;
$strength-strong: $secondary-normal;
