@import "src/theme/typography";
@import "src/theme/colors";
@import "src/theme/utilities";
@import "src/theme/widgets";

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
}

.clickable {
  opacity: 0.8;
  cursor: pointer;
}
