@import "src/theme/colors";

#strength-indicator {
  // Base Styles
  .strength-block {
    height: 28px;
    width: 10px;
    border: 2px solid $primary-contrast;
    margin-right: 8.5px;

    &:last-child {
      margin-right: 0;
    }
  }

  .strength-title {
    margin-right: 15.5px;
  }

  h6 {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;

    &.body {
      color: $primary-light;
    }
  }

  // Stateful Styles
  &.strength-weakest {
    .active {
      background-color: $strength-weakest;
      border-color: $strength-weakest;
    }
  }

  &.strength-weak {
    .active {
      background-color: $strength-weak;
      border-color: $strength-weak;
    }
  }

  &.strength-medium {
    .active {
      background-color: $strength-medium;
      border-color: $strength-medium;
    }
  }

  &.strength-strong {
    .active {
      background-color: $strength-strong;
      border-color: $strength-strong;
    }
  }
}
